.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  width: 75%;
  margin-bottom: 15px;
  margin-top: 5px;
}
